.collab-table-wrapper {
  // width: 100%;
}
.origin-table {
  box-shadow: none !important;
  border: 1px solid #ddd;
  &-wrapper {
    .attribute-image {
        display: flex;
        justify-content: center;
      &-row {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }
  }
}
