.base-info {
  &-item {
    background-color: #fff;
    padding: 24px;
    border-radius: 6px;
    display: flex;
    gap: 12px;
    flex-direction: column !important;
    .fillter-box-wrapper-item {
      display: flex;
      margin-bottom: 0;
    }
  }
}


.products-info {
  margin-top: 24px;
  background-color: #fff;
  padding: 24px;
  border-radius: 6px;
  
  &-container{
    margin-top: 12px;
    border: 1px solid #ddd;
    min-height: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    & .MuiGrid-container {
      justify-content: space-around;
      width: auto;
    }

  }
}
