.content-attribute {
    display: flex;
    justify-content: space-between;
    gap: 0 25px;
  .product-attribute {
    &-overview {
      background-color: #fff;
      padding: 16px;
      width: 100%;
      border-radius: 6px;
      text-align: left;
      .detail{
        margin-top: 16px;
        &-attribute{
            display: grid;
            grid-template-columns: auto auto;
            gap: 16px 16px;
        }
      }
    }
    &-image {
      background-color: #fff;
      width: 40%;
      padding: 16px;
      border-radius: 6px;
    }
  }
}
