.cutome-table{
    width: 100%;
    // border-collapse: separate ;
    border-collapse: collapse;
    border-radius: 30px;
    border-style: hidden; /* hide standard table (collapsed) border */
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 6px;
    &-head-row {
        line-height: 3;
        background-color: #f6f6f6;
        font-size: 16px;
        // font-weight: 00;
    }
    &-body-row{
        line-height: 3;
        

    }
    .MuiTableBody-root{
        position: relative;
    }
    &-pagination{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 12px;
    }
    .mh300{
        height: 300px;
    }
   
}
