@import "../../../utils/variable.scss";

.product-list {
  .fillter-box {
    width: 20%;
  }

  .content {
    &-wrapper {
      background-color: #fff;
      padding: 12px;
      border-radius: 6px;
      &-search {
        display: flex;
        justify-content: space-between;
        gap: 0 36px;
        width: 100%;
        .search-result {
          width: 100%;
          position: relative;
          .disable {
            display: none;
          }
          .active {
            display: block;
          }
          &-wrapper {
            position: absolute;
            width: 100%;
            background-color: #fff;
            z-index: 1;
            border-radius: 6px;
            border: 1px solid rgb(163, 168, 175);
            cursor: pointer;
            &-row {
              display: flex;
              padding: 12px;
              border-bottom: 1px solid rgb(163, 168, 175);
              justify-content: space-between;
              &:last-child {
                border: none;
              }
              &:hover {
                background-color: #ddd;
              }
            }
          }
        }
        &-btn {
          // padding: 5px 64px;
          height: 100%;
        }
      }
      &-table {
        margin-top: 12px;
        .cost-price {
          color : $cost-price;
          font-weight: 500;
        }
        .sell-price {
          color : $sell-price;
          font-weight: 500;
        }
        &-header {
          background-color: #f6f6f6;
          font-size: 16px;
          &-title {
            color : $table-name-col;
            &:hover {
              border-bottom: solid 1px $table-name-col;
              margin-bottom: -1px;
            }
          }
          
        }
      }
    }
  }
}

.fillter-box-wrapper {
  padding: 16px;
  display: block;
  &-item {
    display: grid;
    gap: 0 24px;
    width: 100%;
    grid-template-columns: 32% 32% auto;
    margin-bottom: 24px;
    .filter-title {
      color: #000 !important;
      text-align: center;
      // width : 30%;
    }
  }
  .filter-btn {
    padding: 12px 24px;
    width: 32%;
  }
}
