.stock-management {
    &-options {
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    .MuiTab-root{
        flex-wrap: wrap;
        align-content: start;
    }
    .cost-total {
        font-size: 16;
        font-weight: 600;
        color: #05a5cd;
    }
    .sell-total {
        font-size: 16;
        font-weight: 700;
        color: #0562a0;
    }
}