@import './utils/variable.scss';

.App {
  text-align: center;
}
.cost-price {
  color: $cost-price;
  font-weight: 500;
}
.sell-price {
  color: $sell-price;
  font-weight: 500;
}
.susscess-status {
  padding: 6px 12px;
  border: 1px solid $success-color;
  border-radius: 16px;
  text-align: center;
}
.error-color {
  padding: 6px 12px;
  border: 1px solid $error-color;
  border-radius: 16px;
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MuiTableCell-root {
  font-size: 14px !important;
}
.m-auto {
  margin: auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.headding {
  position: fixed;
  display: flex;
  top: 0;
  height: 60px;
  z-index: 1001;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  // gap: 0 550px;
  .action {
    display: flex;
    &-btn {
      font-size: 14px;
      padding: 8px 12px;
      margin: 0 8px;
    }
  }
}
.App-link {
  color: #61dafb;
}
// .back-page-btn{
//   font-size: 16px !important;
//   display: flex;
//   gap : 0 12px;
//   padding: 0 !important;
// }
.w-100 {
  width: 100%;
}
.w70 {
  width: 70%;
  text-align: start;
}
.relative-block {
  position: relative;
  min-width: 50px;
  & > div {
    width: 100%;
  }
}
.important-text {
  font-weight: 500;
  offset: 4px;
  &:hover {
    border-bottom: 1px solid #ccc;
  }
}
.h-100 {
  height: 100%;
}
.mb16{
  margin-bottom: 16px;
}
.header-title2{
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}
.bd-radius-6 {
  border-radius: 6px !important;
}
.quantity-danger {
  color: #e70202;
}
.sub-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
  padding: 8px 0;
  &-title {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    vertical-align: middle;
    padding: 0;
    text-align: center;
  }
}
.modal-wrapper {
  &-headding {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    .title {
      font-weight: 500;
      // margin-bottom: 12px;
      text-align: end;
      font-size: 16px;
    }
    .close-btn {
      font-size: 28px;
    }
  }
  .modal-form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px 20px;
    margin-bottom: 16px;
    .MuiBox-root {
      border-radius: 6px !important;
    }
    .css-1wnsr1i {
      border: 1px solid #ddd !important;
    }
    &-item {
      width: 100%;
      &:last-child {
        grid-column: 1/3;
      }
      &-title {
        margin-bottom: 8px;
      }
      .image-list {
        height: 150px;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 12px;
        gap: 0 12px;
        &-item {
          height: 75px;
          width: 75px;
          border: 1px solid #ddd;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
        }
      }
    }
  }
  &-save-btn {
    padding: 8px 24px;
  }
}
.css-1wnsr1i {
  border: 1px solid #ddd !important;
}
.MuiBox-root.css-b8tju9 {
  border-radius: 6px;
  border: 1px solid #ddd;
}
.row {
  display: flex;
  flex-direction: row;
}
.image-product {
  width: 50px;
  height: 50px;
  object-fit: cover;
  opacity: 0.5;
}
.gap-25 {
  display: flex;
  gap: 0 25px;
}
.title-2 {
  font-size: 18px;
  white-space: nowrap;
  // margin: auto;
  font-weight: 500;
}
.MuiButton-root {
  font-size: 14px !important;
}
.MuiTab-root {
  font-size: 14px !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
